Hi, {{{name}}}.

A password change request just came through for your account. If you have initiated it please follow this link:

http://localhost:8080/users/pw-confirm/{{{token}}}

and if not, please ignore this message.

We recommend changing you password, just to be safe. But your account is in good hands and can be restored immediately.