Hi, {{{name}}}.

We're sending this email to you because you have requested to change you account password. Unfortunately the link you used earlier has timed out.
Please follow this new link to finish changing you password:

http://localhost:8080/users/pw-confirm/{{{token}}}

Be safe, and happy browsing!