Hello {{{name}}}!
<br><br>
You are receiving this email because Your account hast been locked after Your password was entered wrongfully 5 times.<br>
There is no need to worry though, You can restore the access to Your account anytime by following this <a href="{{link}}">link</a>.<br>
In the meantime, all access to Your account has been suspended.
<br><br>
