Hi, {{{name}}}.
<br><br>
Welcome to my portfolio, to you many of the juicy features, you will need to verify you account! <br>
Don't worry, it's as easy as clicking the link below!
<br><br>
<a href="{{link}}">link</a>
<br><br>
Happy browsing!