Hello {{{name}}}!
<br><br>
You are receiving this email because your somebody tried to log in to your account and has entered your password wrong 3 times.<br>
If it was You trying to log in, You have nothing to worry about, but just to be sure your account will be blocked after 2 more attempts.<br>
If it wasn't you, please change  you password immediately by following this <a href="{{link}}">link</a>.
<br><br>
